<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<form id="create-form" th:action="@{/books/create}" th:object="${book}" th:method="post" action="books.html">
    <h1>New book:</h1>

    <div class="row">
        <label for="title">Title:</label>
        <input id="title" type="text" th:field="*{title}" value="The Winter of Our Discontent"/>
    </div>

    <div class="row">
        <label for="author">Author:</label>
        <select id="author" th:field="*{author}">
            <option th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:utext="${author.getFullName()}"
                    value="John Steinbeck Ernst">Author
            </option>
        </select>
    </div>

    <div class="row">
        <label for="jenre">Jenre:</label>
        <select id="jenre" th:field="*{jenre}">
            <option th:each="jenre : ${jenres}"
                    th:value="${jenre.id}"
                    th:utext="${jenre.type}"
                    value="Tragedy">Jenre
            </option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>