<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
    </style>
</head>
<body>

<h2>
    <a th:href="@{/books}" href="books.html">Books</a>
</h2>
<h2>
    <a th:href="@{/authors}" href="authors.html">Authors</a>
</h2>
<h2>
    <a th:href="@{/comments}" href="comments.html">Comments</a>
</h2>
<h2>
    <a th:href="@{/jenres}" href="jenres.html">Jenre</a>
</h2>

<p>
    <a th:href="@{/logout}">Sign Out</a>
</p>
</body>
</html>