<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Authors:</h1>

<table class="authors">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Patronymic</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.name}">John</td>
        <td th:text="${author.surname}">Steinbeck</td>
        <td th:text="${author.patronymic}">Ernst</td>
        <form th:action="@{/authors/{id}(id=${author.id})}" th:method="get">
            <td>
                <button type="submit">Edit</button>
            </td>
        </form>
        <form th:action="@{/authors/delete/{id}(id=${author.id})}" th:method="post">
            <td>
                <button type="submit">Delete</button>
            </td>
        </form>
    </tr>
    </tbody>
</table>
<h4>
    <a th:href="@{/authors/create}" href="author_new.html">create new</a>
</h4>
<h4>
    <a th:href="@{/}" href="index.html">back</a>
</h4>
</body>
</html>