<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<form id="edit-form" th:href="@{/books}" href="books.html"
      th:action="@{/books/update/{id}(id=${book.id})}" th:method="post" action="books.html">
    <h1>Books Info:</h1>

    <div class="row">
        <label for="id">ID:</label>
        <input id="id" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="title">Title:</label>
        <input id="title" name="title" type="text" th:value="${book.title}"
               value="The Winter of Our Discontent"/>
    </div>

    <div class="row">
        <label for="author">Author:</label>
        <select id="author" th:field="${book.author}">
            <option th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:utext="${author.getFullName()}"
                    value="John Steinbeck Ernst">Author
            </option>
        </select>
    </div>

    <div class="row">
        <label for="jenre">Jenre:</label>
        <select id="jenre" th:field="${book.jenre}">
            <option th:each="jenre : ${jenres}"
                    th:value="${jenre.id}"
                    th:utext="${jenre.type}"
                    value="Tragedy">Jenre
            </option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>